<div class="body">
    <div class="ui segment w-100-sm">
        <h2 class="fw-bold">Completar los valores</h2>
        <div class="ui divider"></div>
        <table class="ui celled table center aligned">
            <tbody>
                <tr *ngFor="let hab of habs">
                    <td class="fw-bold col-4 px-5">
                        <i class="bed icon"></i> Habitación {{hab.numId}}
                    </td>
                    <td>
                        <div class="ui input">
                            <input #cantidad type="number" placeholder="Cantidad de camas"
                            (keyup)="asignarCamas(hab.numId , cantidad.value)">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="ui center aligned container">
            <div class="ui huge secondary button" (click)="submitControl()">
                Simular
            </div>
        </div>
    </div>
</div>