<div class="body">
    <div class="header-container">
        <div class="ui container">
            <h1 class="ui header display-1 fw-bolder">Hostel Alvear</h1>
            <h2 class="ui header">Simulación de Polimorfismo <br> de habitaciones</h2>
        </div>
    </div>
    <div class="ui center aligned container pb-5">
        <div class="ui row justify-content-center formulario">
            <div class="col">
                
                <app-formulario-control *ngIf="!simulando" [habs]="habitaciones" (submitHabitaciones)="simular()"></app-formulario-control> 
                
                <scatter-chart class="centeraligned" *ngIf="simulando"
                    [camasLibres]="camasLibres"
                    [camasOcupadas]="camasOcupadas"></scatter-chart>
                <div class="text-white" *ngFor="let hab of habitaciones">
                    <h2>
                        Habitación número {{hab.numId}} <br>
                    </h2>
                    <ng-container *ngFor="let c of hab.camas">
                        <h3>
                            Numero cama : {{c.id}} <br>
                        </h3>
                        <p>
                        Ocupacion
                        </p>
                        <p>
                        <ng-container *ngFor="let d of c.dias">
                            Día : {{d.fecha}} está {{d.estaDisponible? "disponible": "reservado"}}<br>
                        </ng-container>
                        </p>
                    </ng-container>
                    <br>
                </div>
                
            </div>
        </div>
    </div>
</div>