.ui.container:first-child{
    padding-top: 5%;
    padding-bottom: 10%;
}

.ui.header.subtitle{
    background-color: rgb(93, 121, 99);
    width: fit-content;
    color: white;
    padding: 3%;
}

.statistic{
    position: fixed;
    
    background: var(--bs-light);
    color: var(--bs-dark);
    padding: 2%;
    border-radius: 15%;
    box-shadow: black 0px 0px 2px;

    left:2%;
    bottom:5%;
}

.avanzar{
    background: rgb(93, 121, 99);
    color: var(--bs-light);
    box-shadow: black 0px 0px 2px;
}

.ui.header.title{
    color: #5D7963;
    
    background-color: white;
    width: fit-content;
    padding: 10%;
    
    font-size: xxx-large;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-container{ 
    text-align: -webkit-center;
}

.formulario{
    margin-top: -5%;
    margin-bottom: 20%;
}

.body{
    background-color: var(--bs-dark);
    
    background-image: url("src\assets\img\background-notebook.webp");
    
    background-size:contain;
    background-repeat: no-repeat;
}

.centeraligned{
    text-align: -webkit-center;
}
