<div class="ui centered grid">
    <div class="ui row">
        <div class="ui eight wide column">
            <h1 class="ui header">Hostel Alvear</h1>
            <h2 class="ui header">Simulación de Polimorfismo del Hostel</h2>
            <div class="ui segment">
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Cantidad Camas</th>
                            <th>Habitación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> hab </td>
                            <td> {{cantidadCamas()}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>