h1{
    color: var(--bs-dark);;
}

.chart-container{
    width : 40%;
    margin-bottom: 5%;
}
@media only screen and (max-width: 700px) {
    .chart-container{
        width : 80%;
    }    
}

.ui.container{
    background-color: #f8f9fabd;
    /* background-color: rgb(33 37 41 / 90%); */
    border: 0.75em solid;
    border-color: #5D7963;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2%;
}